.overview {
  position: relative;
  overflow: hidden;

  height: 100vh;
  max-height: 100vw;
  //min-height: 750px;
  box-sizing: border-box;
 /* 使图片适应容器 */
  /* 居中对齐 */
  //background-color: #000;
  background: url("/public/images/css-image/overview-bg.png") no-repeat left top;
  background-size: cover;
  &.is-mobile {
    height: 750px;
  }

  &__main {
    @media screen and (max-width: 500px) {
      /* 小于等于 500px 时的样式 */
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      .title-panel{
        height: fit-content!important;
      }
      .main-content{
        flex-grow: 1;
      }
    }

    width: 1200px;
    //max-width: 1200PX;
    height: 100%;
    margin: 0 auto;
    padding-top: 133px;
    box-sizing: border-box;

    position: relative;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;

    .title-panel {
      display: flex;
      flex-direction: column;
      height: 100%;
      //position: absolute;
      //top: 183px;
      //left: 0;
    }

    .sub-title {
      font-family: Poppins, Poppins;
      font-weight: 600;
      font-size: 59px;
      line-height: 80px;
      text-align: left;
      background-color: transparent;
      //background: linear-gradient(270deg, #FF9FA5 0%, #6560FB 48%, #56A3FF 99%);
      //-webkit-background-clip: text;
      //-webkit-text-fill-color: transparent;
    }
    .sub-title-gradient {
      font-family: Poppins, Poppins;
      font-weight: 600;
      font-size: 59px;
      line-height: 80px;
      text-align: left;
      //background-color: transparent;
      background: linear-gradient(90deg, #87FFDB 0%, #5BC4FF 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }
    .launch-btn {
      margin-top: 38px;
      width: 170px;

      height: 50px;

      margin-bottom: 37px;
      border-radius: 12px;
      background: #373DAC;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 500;
      font-size:20px;
      color: #FFFFFF;
      /* Frame 35 */


      background: linear-gradient(83.03deg, #5BC4FF -2.87%, #4D5EFF 25.82%, #6362FF 67.15%, #C970FF 104.18%, #FF9FA5 139.5%);


      &:hover {
        filter: brightness(110%);
      }
    }
    .description{
      white-space: pre-line;
      font-family: Poppins, Poppins;
      font-size: 20px;
      line-height: 1.3;
      margin-top: 38px;
    }
    .tooltip{
      position: absolute;
      width: 100%;
      color: #A0A0AC;
      bottom:20px;
    }
    .main-content {
      display: flex;
      align-self: center;
      flex-direction: column;
      margin-bottom: 200px;
      //justify-content: space-between;
      //align-items: flex-end;
      .feat {
        width: 600px;
        //height: 100%;
        //height: 150px;
      }


      //.sub-detail {
      //  width: 933px;
      //  height: 587px;
      //  padding-bottom: 221px;
      //  box-sizing: border-box;
      //  position: relative;
      //
      //  display: flex;
      //  justify-content: flex-end;
      //  align-items: flex-end;
      //
      //  .bg {
      //    position: absolute;
      //    width: 100%;
      //    height: 100%;
      //    bottom: 0;
      //    right: -58px;
      //  }
      //
      //
      //}
    }
  }
}

.architecture {
  width: 1200px;
  max-width: 1200PX;
  margin: 0 auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  &-main {
    width: 1200px;
  }
}

.roadmap {
  width: 1200px;
  padding-bottom: 120px;
  margin: 0 auto;
  max-width: 1200PX;
  display: flex;
  align-items: center;
  flex-direction: column;

  &-main {
    width: 1107px;
    height: 254px;
  }
}

.main-title {
  margin: 64px 0 100px 0;
  font-size: 54px;
  font-weight: 700;
  line-height: 74px;
  letter-spacing: 0.03em;

  background: linear-gradient(90.51deg, #ffffff 64.71%, #4b52ff 108.22%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
